#GamePage {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    // overflow: hidden;

    background-color: #312E2B;

    display: flex;
    flex-direction: row;

    .playersAndKeyboard {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
}
